body {
    display: inline-block;
    width: 600px;
    margin-left: calc( (100% - 300px) / 2 );
}
.container {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(165deg, rgb(99, 91, 91) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
    margin-top: 60px;
    position: relative;
}
    .container:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border-bottom: 0 solid #ffffff05;
        
        box-shadow: 
            0 -10px 20px 20px hsla(0, 100%, 99%, 0.251) inset,
            0 -5px 15px 10px hsla(0, 0%, 100%, 0.314) inset,
            0 -2px 5px #ffffff80 inset,
            0 -3px 2px #ffffffBB inset,
            0 2px 0px #ffffff,
            0 2px 3px #ffffff,
            0 5px 5px #ffffff90,
            0 10px 15px #ffffff60,
            0 10px 20px 20px #ffffff40;
        filter: blur(3px);
        animation: 2s rotate linear infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg)
        }
    }

button {
    display: inline-block;
    background: rgb(111, 107, 107) ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 18px;
}

.loader{
    display: block;
    width: 35%;
    height: 20px;
    margin-top: 50px;
    background-color: red;
    animation: mymove 10s infinite;
}
@keyframes mymove {
    0%   {
        width:0%;
    }
    50%  {
        width:35%;
   }
}


    